<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="IgniteUI.Blazor.Lite.TestBed.styles.css" />
    <link href="_content/IgniteUI.Blazor/themes/light/material.css" rel="stylesheet" />
    <link href="_content/IgniteUI.Blazor/themes/grid/light/material.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <script src="_content/IgniteUI.Blazor/app.bundle.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="app.js"></script>
</body>

</html>
