@page "/IgbIconComponent"
@using IgniteUI.Blazor.Controls

<PageTitle>IgbIconComponent</PageTitle>

<h3>IgbIconComponent</h3>

<div class="component-host">
    <IgbIcon @ref="_iconRef" IconName="build" Collection="material" />
</div>

@code {
    /*
     * Ignite UI for Blazor - open-source (MIT) component from IgniteUI.Blazor.Lite.
     * An item template can't modify project files, so do this once per project:
     *
     * 1. Install:   dotnet add package IgniteUI.Blazor.Lite
     * 2. Register (Program.cs):   builder.Services.AddIgniteUIBlazor();
     * 3. _Imports.razor:          @using IgniteUI.Blazor.Controls
     * 4. Host page theme (index.html / App.razor / _Host.cshtml):
     *    <link href="_content/IgniteUI.Blazor/themes/light/bootstrap.css" rel="stylesheet" />
     * 5. Blazor Web App (.NET 8+): add an interactive render mode to this page,
     *    e.g. @rendermode InteractiveServer (or InteractiveWebAssembly / InteractiveAuto).
     *
     * Do not mix IgniteUI.Blazor.Lite with the licensed IgniteUI.Blazor package.
     */
    private IgbIcon _iconRef = default!;

    private const string BuildSvg = "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z'/></svg>";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _iconRef is not null)
        {
            await _iconRef.EnsureReady();
            await _iconRef.RegisterIconFromTextAsync("build", BuildSvg, "material");
        }
    }
}
