@page "/IgbIconComponent"
@using IgniteUI.Blazor.Controls

<PageTitle>IgbIconComponent</PageTitle>

<h3>IgbIconComponent</h3>

<div class="controls">
    <div class="control">
        <label>Icon</label>
        <div class="control-box">
            <IgbRadioGroup Alignment="ContentOrientation.Horizontal" @bind-Value="IconName">
                <IgbRadio Value="home">home</IgbRadio>
                <IgbRadio Value="favorite">favorite</IgbRadio>
                <IgbRadio Value="star">star</IgbRadio>
                <IgbRadio Value="login">login</IgbRadio>
            </IgbRadioGroup>
        </div>
    </div>

    <div class="control">
        <label>Size</label>
        <div class="control-box">
            <IgbRadioGroup Alignment="ContentOrientation.Horizontal" @bind-Value="Size">
                <IgbRadio Value="small">Small</IgbRadio>
                <IgbRadio Value="medium">Medium</IgbRadio>
                <IgbRadio Value="large">Large</IgbRadio>
            </IgbRadioGroup>
        </div>
    </div>

    <div class="control">
        <label>Options</label>
        <div class="control-box switches">
            <IgbSwitch @bind-Checked="Mirrored">Mirrored</IgbSwitch>
        </div>
    </div>
</div>

<div class="component-host">
    <IgbIcon @ref="_iconRef" class="@($"demo-icon {Size}")" IconName="@IconName" Collection="material" Mirrored="Mirrored" />
</div>

<div class="state">IconName: @IconName &nbsp;|&nbsp; Size: @Size &nbsp;|&nbsp; Mirrored: @Mirrored</div>

@code {
    /*
     * Ignite UI for Blazor - open-source (MIT) component from IgniteUI.Blazor.Lite.
     * An item template can't modify project files, so do this once per project:
     *
     * 1. Install:   dotnet add package IgniteUI.Blazor.Lite
     * 2. Register (Program.cs):   builder.Services.AddIgniteUIBlazor();
     * 3. _Imports.razor:          @using IgniteUI.Blazor.Controls
     * 4. Host page theme (index.html / App.razor / _Host.cshtml):
     *    <link href="_content/IgniteUI.Blazor/themes/light/bootstrap.css" rel="stylesheet" />
     * 5. Blazor Web App (.NET 8+): add an interactive render mode to this page,
     *    e.g. @rendermode InteractiveServer (or InteractiveWebAssembly / InteractiveAuto).
     *
     * Do not mix IgniteUI.Blazor.Lite with the licensed IgniteUI.Blazor package.
     */

    private IgbIcon _iconRef = default!;
    private string IconName { get; set; } = "home";
    private string Size { get; set; } = "medium";
    private bool Mirrored { get; set; }

    private static readonly Dictionary<string, string> Icons = new()
    {
        ["home"] = "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z'/></svg>",
        ["favorite"] = "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'/></svg>",
        ["star"] = "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/></svg>",
        ["login"] = "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M11 7l-1.41 1.41L12.17 11H3v2h9.17l-2.58 2.58L11 17l5-5-5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8v14z'/></svg>"
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _iconRef is not null)
        {
            await _iconRef.EnsureReady();
            foreach (var (name, svg) in Icons)
            {
                await _iconRef.RegisterIconFromTextAsync(name, svg, "material");
            }
        }
    }
}
