<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["IgniteBlazorApp.styles.css"]" />
    <link rel="stylesheet" href="_content/IgniteUI.Blazor/themes/IGB_VARIANT/IGB_THEME.css" />
    @*#if (IncludeWeatherSample) *@
    <link rel="stylesheet" href="_content/IgniteUI.Blazor.GridLite/css/themes/IGB_VARIANT/IGB_THEME.css" />
    @*#endif *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="ig-typography ig-scrollbar">
    <Routes @rendermode="IGB_RENDER_MODE" />
    @*#if (HostingIsServer) *@
    <ReconnectModal />
    @*#endif *@
    <script src="_content/IgniteUI.Blazor/app.bundle.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
