@attribute [Stories("Actions/IconButton")]

<Stories TComponent="IgbIconButton">

    <ArgType For="_ => _!.Variant" Control="ControlType.Radio" />

    <Story Name="Default">
        <Arguments>
            <Arg For="_ => _!.Variant" Value="IconButtonVariant.Contained" />
            <Arg For="_ => _!.IconName" Value='"home"' />
            <Arg For="_ => _!.Collection" Value='"default"' />
            <Arg For="_ => _!.Disabled" Value="false" />
        </Arguments>
        <Template>
            <IconRegistrar />
            <IgbIconButton @attributes="context.Args" />
        </Template>
    </Story>

    <Story Name="Variants">
        <Template>
            <IconRegistrar />
            <div style="display: flex; gap: 1rem; align-items: center; flex-wrap: wrap;">
                <IgbIconButton Variant="IconButtonVariant.Contained" IconName="home" Collection="default" />
                <IgbIconButton Variant="IconButtonVariant.Outlined" IconName="home" Collection="default" />
                <IgbIconButton Variant="IconButtonVariant.Flat" IconName="home" Collection="default" />
            </div>
        </Template>
    </Story>

    <Story Name="Disabled">
        <Template>
            <IconRegistrar />
            <div style="display: flex; gap: 1rem; align-items: center; flex-wrap: wrap;">
                <IgbIconButton Variant="IconButtonVariant.Contained" IconName="home" Collection="default" Disabled="true" />
                <IgbIconButton Variant="IconButtonVariant.Outlined" IconName="home" Collection="default" Disabled="true" />
                <IgbIconButton Variant="IconButtonVariant.Flat" IconName="home" Collection="default" Disabled="true" />
            </div>
        </Template>
    </Story>

</Stories>
