@attribute [Stories("Forms/Input")]

<Stories TComponent="IgbInput">

    <ArgType For="_ => _!.DisplayType" Control="ControlType.Select" />

    <Story Name="Default">
        <Arguments>
            <Arg For="_ => _!.Label" Value='"Username"' />
            <Arg For="_ => _!.Placeholder" Value='"Enter username"' />
            <Arg For="_ => _!.Outlined" Value="false" />
            <Arg For="_ => _!.Disabled" Value="false" />
            <Arg For="_ => _!.Required" Value="false" />
        </Arguments>
        <Template>
            <IgbInput @attributes="context.Args" />
        </Template>
    </Story>

    <Story Name="Types">
        <Template>
            <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); gap: 1.5rem; align-items: start;">
                <IgbInput DisplayType="InputType.Text" Label="Text" Placeholder="Enter text" />
                <IgbInput DisplayType="InputType.Email" Label="Email" Placeholder="name@example.com" />
                <IgbInput DisplayType="InputType.Number" Label="Number" Placeholder="0" />
                <IgbInput DisplayType="InputType.Password" Label="Password" Placeholder="••••••••" />
                <IgbInput DisplayType="InputType.Search" Label="Search" Placeholder="Search…" />
                <IgbInput DisplayType="InputType.Tel" Label="Tel" Placeholder="+1 (555) 000-0000" />
                <IgbInput DisplayType="InputType.Url" Label="URL" Placeholder="https://example.com" />
            </div>
        </Template>
    </Story>

    <Story Name="Outlined">
        <Arguments>
            <Arg For="_ => _!.Label" Value='"Email"' />
            <Arg For="_ => _!.Placeholder" Value='"Enter email"' />
            <Arg For="_ => _!.Outlined" Value="true" />
            <Arg For="_ => _!.DisplayType" Value="InputType.Email" />
        </Arguments>
        <Template>
            <IgbInput @attributes="context.Args" />
        </Template>
    </Story>

    <Story Name="Slots">
        <Template>
            <IconRegistrar />
            <IgbInput Label="Input with slots" Placeholder="Type something">
                <IgbIcon slot="prefix" IconName="home" Collection="default" />
                <IgbIcon slot="suffix" IconName="home" Collection="default" />
                <span slot="helper-text">Sample helper text.</span>
            </IgbInput>
        </Template>
    </Story>

    <Story Name="Disabled">
        <Arguments>
            <Arg For="_ => _!.Label" Value='"Disabled"' />
            <Arg For="_ => _!.Value" Value='"Disabled input"' />
            <Arg For="_ => _!.Disabled" Value="true" />
        </Arguments>
        <Template>
            <IgbInput @attributes="context.Args" />
        </Template>
    </Story>

</Stories>
