@attribute [Stories("Data Display/List")]

<Stories TComponent="IgbList">

    <Story Name="Default">
        <Template>
            <IgbList @attributes="context.Args">
                <IgbListHeader>
                    <span>Contacts</span>
                </IgbListHeader>
                <IgbListItem>
                    <span>Item 1</span>
                </IgbListItem>
                <IgbListItem>
                    <span>Item 2</span>
                </IgbListItem>
                <IgbListItem>
                    <span>Item 3</span>
                </IgbListItem>
            </IgbList>
        </Template>
    </Story>

</Stories>
