@attribute [Stories("Navigation/NavDrawer")]

<Stories TComponent="IgbNavDrawer">

    <ArgType For="_ => _!.Position" Control="ControlType.Radio" />

    <Story Name="Default">
        <Arguments>
            <Arg For="_ => _!.Open" Value="true" />
            <Arg For="_ => _!.Position" Value="NavDrawerPosition.Start" />
        </Arguments>
        <Template>
            <div style="position: relative; height: 400px; overflow: hidden;">
                <IgbNavDrawer @attributes="context.Args">
                    <IgbNavDrawerHeaderItem>Navigation</IgbNavDrawerHeaderItem>
                    <IgbNavDrawerItem>
                        <span slot="content">Home</span>
                    </IgbNavDrawerItem>
                    <IgbNavDrawerItem>
                        <span slot="content">About</span>
                    </IgbNavDrawerItem>
                    <IgbNavDrawerItem>
                        <span slot="content">Settings</span>
                    </IgbNavDrawerItem>
                </IgbNavDrawer>
            </div>
        </Template>
    </Story>

</Stories>
