@attribute [Stories("Actions/Ripple")]

<Stories TComponent="IgbRipple">

    <Story Name="Default">
        <Template>
            <div style="position: relative; width: 200px; height: 100px; background: #eee; display: flex; align-items: center; justify-content: center;">
                Click here
                <IgbRipple @attributes="context.Args" />
            </div>
        </Template>
    </Story>

</Stories>
