@attribute [Stories("Feedback/Toast")]

<Stories TComponent="IgbToast">

    <ArgType For="_ => _!.Position" Control="ControlType.Select" />

    <Story Name="Default">
        <Arguments>
            <Arg For="_ => _!.Open" Value="true" />
            <Arg For="_ => _!.KeepOpen" Value="true" />
            <Arg For="_ => _!.ChildContent" Value="_content" />
        </Arguments>
        <Template>
            <div style="position: relative; height: 200px;">
                <IgbToast @attributes="context.Args" />
            </div>
        </Template>
    </Story>

</Stories>

@code {
    private RenderFragment _content = @<text>Operation completed</text>;
}
