name: Mark stale or close issues and pull requests

on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest

    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v10
      with:
        days-before-issue-stale: 60
        days-before-issue-close: 14
        days-before-pr-close: -1
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'There has been no recent activity and this issue has been marked inactive.'
        stale-pr-message: 'There has been no recent activity and this PR has been marked inactive.'
        stale-issue-label: 'status: inactive'
        stale-pr-label: 'status: inactive'
        close-issue-message: 'This issue was closed because it has been inactive for 14 days since being marked as stale.'
